<div class="body">
  <div class="header">
    <div class="logo-container">
      <div class="logo"><img src="assets/2.png" alt="Logo"></div>
    </div>
    <ul class="nav-links">
      <li><a routerLink="login" class="btn btn-dark">Login</a></li>
      <li><a routerLink="register" class="btn btn-dark">Sign Up</a></li>
    </ul>
  </div>

  <div class="container">
    <div class="text-container">
      <h1>Bookstore</h1>
      <p>Welcome to Bookpedia!<br> Your go-to destination for all things literary!
         We take pride in offering a vast collection of books that cater to diverse tastes and interests. Whether you're a passionate reader, a curious learner, 
        or simply looking for a great gift, we've got you covered.</p>
    </div>
  </div>
</div>
<app-home1></app-home1>